/Java Files/20201103-ExercicioUtenteDeGinasio/target/
/Java Files/20201103 - ExercicioUtenteDeGinasio/target/
/Java Files/20201103 - ExercicioTempo/target/
/Java Files/20201105 - ExercicioImpostos/target/
/Java Files/20201105 - ExercicioTrabalhador/target/
/Java Files/20201106 - ExercicioFiguras/target/
/Java Files/20201106 - ExercicioContadoresDomesticos/target/
/Java Files/20201106 - ExercicioCreditosBancarios/target/
/Java Files/POO/20201106 - ExercicioCreditosBancarios/target/
/Java Files/POO/20201110 - ExercicioTributaveis/target/
/Java Files/POO/20201110 - ExercicioTributaveis/nbproject/
/Java Files/POO/20201110 - ExercicioEscola/nbproject/
/Java Files/POO/20201110 - ExercicioEscola/target/
/Java Files/Outros/lixo/target/
/Java Files/POO/20201111 - FigurasComComparableEComparator/target/
/Java Files/POO/20201112 - VencimentosComComparable/target/
/Java Files/POO/20201112 - VencimentosComComparable/nbproject/
/Java Files/POO/20201112 - VencimentosComComparator/target/
/Java Files/POO/20201112 - VencimentosComComparator/nbproject/
/Java Files/POO/20201112 - ExercicioImpostos/target/
/Java Files/POO/20201112 - ExercicioImpostosComComparator/target/
/Java Files/POO/20201112 - ExercicioImpostosComComparator/nbproject/
/Java Files/POO/20201113 - Exercicio-TDD-MyArray/nbproject/
/Java Files/POO/20201113 - Exercicio-TDD-MyArray/target/
/Java Files/PDS/20201204-BikeBuilder/target/
/Java Files/PDS/20201204-Observer/target/
/Java Files/PDS/20201204-Adapter/target/
/Java Files/Outros/JavaBeginnersGuide_Chapter8/target/
/Java Files/Outros/20201216-ClubeDesportivo/target/
/Java Files/Outros/JavaBeginnersGuide/target/
/Java Files/Outros/HeadFirstJava_Book/target/
/Java Files/POO/20210105-ExercicioSegmentoDeReta/nbproject/
/Java Files/POO/20210105-Utilitarios/target/
/Java Files/POO/20210105-ExercicioEmpregado/target/
/Java Files/POO/20210105-ExercicioEmpregado/nbproject/
/Java Files/POO/20210105-ExercicioSegmentoDeReta/target/
/Java Files/POO/20210105-ExercicioExposicao/target/
/Java Files/POO/20210105-CardDeck/nbproject/
/Java Files/POO/20210105-CardDeck/target/
