/Java Files/20201103-ExercicioUtenteDeGinasio/target/
/Java Files/20201103 - ExercicioUtenteDeGinasio/target/
/Java Files/20201103 - ExercicioTempo/target/
/Java Files/20201105 - ExercicioImpostos/target/
/Java Files/20201105 - ExercicioTrabalhador/target/
/Java Files/20201106 - ExercicioFiguras/target/
/Java Files/20201106 - ExercicioContadoresDomesticos/target/
/Java Files/20201106 - ExercicioCreditosBancarios/target/
/Java Files/POO/20201106 - ExercicioCreditosBancarios/target/
/Java Files/POO/20201110 - ExercicioTributaveis/target/
/Java Files/POO/20201110 - ExercicioTributaveis/nbproject/
